div {
  background-color: #f5f5ef;
}

.photo1 {
  margin: 170px 53px 399px 120px;
  margin-left: 80px;
  height: 511px;
}

.photo2 {
  margin: 399px 117px 120px 0;
  height: 511px;
  width: 380px;
}

.text {
  margin: 265px 140px 80px 0;
}

button {
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  margin: 40px;
  color: white;
  background-color: black;
}
