.menu-container {
  background-color: #f5f5ef;
  height: 90vh;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.text-container{
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 40%;
}

.menu-dishes {
  width: 40%;
  padding: 40px;
}

.text-container button {
  background-color: black;
  color: white;
  width: 250px;
}

.text {
margin: 20px;
}

.menu-button{
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  margin: 40px;
}
