.about-container {
  background-color: #f5f5ef;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;


}

.text-photo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  text-align: start;
  margin: auto;
  font-size: larger;

}

h1 {
  text-decoration: solid;
}

h5 {
  text-decoration: solid;
  text-decoration: underline;
  text-align: center;
}

.dishes {
  width: 60%;
  padding: 50px;
}

.title {
 margin: 20px;
}

.text {
 margin: 20px;
}
